.navContainer{
  height:3.5vh;
  background-color:white;
  border-bottom: groove; /*temporary*/
  display: flex;
  justify-content: space-between;
}

.iconContainer{
  padding: 0.125rem;
  display: flex;
}

.navLogo{
  font-weight: 600;
  padding: 0.125rem;
}

.navIconSpacer{
  width: 1rem;
  width: 0.5rem;
}