.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-basis-50 { flex-basis: 50%; }

.w-100 { width: 100%; }
.h-100 { height: 100%; }

.h-50vh {height: 49vh}

.bg-red { background: red; }
.bg-blue { background: blue; }
.bg-yellow { background: yellow; }
.bg-orange { background: orange; }
