.footerContainer{
  align-items: center;
  height:2.5vh;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: xx-small;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: groove; /*temporary*/
}
